Hello {{ user.username }}! <a href="{% url 'logout' %}"><button style="float: right;">Logout</button></a>
{% block content %}
  <h2>Gallery</h2>
  {% for photo in photos %}
    <img src="{{ photo.image.url }}" style="margin: 20px 20px">
    <img src="{{ photo.image.large.url }}" style="margin: 20px 20px">
    <img src="{{ photo.image.medium.url }}" style="margin: 20px 20px">
    <img src="{{ photo.image.small.url }}" style="margin: 20px 20px">
  {% endfor %}
  <br><a href="{% url 'upload_photo' %}"><button>Upload new photo</button></a>
{% endblock %}
